body{
    background-color:rgb(255, 250, 250);
    margin: 0px;
    background-size: 100%;
}
a{
    text-decoration-line: none;
    color: inherit;
}
table{
    /* font-size: large; */
    background-color: aliceblue;
    margin: auto;
    width: 90%;
    height: 40px;
}
.q1{
    font-size: larger;
    position: absolute;
    padding-left: 5px;
    margin-top:5px;
}
.q2{
    position: relative;
    left: 15%;
    padding-bottom: 3px;
}
.q4{
    position: absolute;
    right: 5%; 
    margin-top:5px;
    width: 250px;
}
.room_button{
    position: relative;
    width: 200px;
    right: 38%;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    margin-bottom: 2px;
}
.classroom{
    display: inline-block;
}
.classroom_detail{
    position: absolute;
    display: none;
    padding-top: 10px;
}
.classroom_detail a{
    display: block;
    float: none;
    height: 30px;
    text-align: center;
    padding-top: 5px;
}
.classroom_detail a:hover{
    background-color: antiquewhite;
}
.classroom:hover .classroom_detail{
    display:block;
}
.container{
    display: none;
}

@media screen and (max-width: 1000px) {
    /* 在屏幕宽度小于等于868px时应用的样式 */
    .navbar{
        display:none;
    }

    .container {
        display: inline-block;
        /* cursor: pointer; */
    }
      
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
      
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
      
    .change .bar2 {
        opacity: 0
    }
      
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .menu{
        border: none;
        background-color: inherit;
        cursor:pointer;
        transition: 0.4s;
    }
    .menu_detail a{
        display: block;
        height: 35px;
        text-align: left;
        padding-top: 5px;
        padding-left: 3px;
    } 
    .active, .menu:hover{
        background-color: aliceblue;
    }
    .menu_detail{
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s ease-out;
    }

    .classroom{
        background-color: inherit;
        text-size-adjust: inherit;
    }
    .classroom_detail{
        position: absolute;
        display: none;
        text-align: center;
        padding-top: 10px;
        left: 145px;
        height: 30px;
        width: 230px;
        top: 72px;
    }
    .classroom_detail a{
        display:inline-block;
        height: 30px;
        text-align: center;
        padding: 5px;
    }
    .classroom:hover .classroom_detail{
        display:inline-block;
    }
    .bb{
        border: none;
        background-color: inherit;
        font-size: inherit;
        padding-bottom: 7px;
    }
}

/*登录弹窗效果*/
.l_title{
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
    cursor: move;
    font-size: 20px;
}
.l_content p{
    text-align: center;
    line-height: 45px;
    font-size: 17px;
}
.l_title a{
    display: block;
    position: fixed;
    top:0px;
    right: 12px;
    z-index: 9999;
    font-size: larger;
}
.bg{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(252, 244, 244, 0.512);
    z-index: 9998;
    display: none;
}
.login{
    width: 600px;
    height: 300px;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    background: #fff;
    display: none;
    border-radius: 13px;
    background-image: linear-gradient(to right,#ffe6c9, #c5d0f9);
}
.c_signin{
    position: absolute;
    right: 24.6%;
    bottom: 5.5%;
    text-decoration: underline;
}
.bt{
    padding: 4px;
    font-size: 17px;
    border-radius: 5px;
    border-width: 1.5px;
    border-color: #dcdcdc;
}

/* /hvngfhxhfzwr */
.kuakua{
    text-align: center;
    font-size: 23px;
    margin-top: 100px;
    float: right;
    margin-right: 15%;
    width: 40%;
}
mark{
    background-color:inherit;
    font-size: x-small;
    color: red;
    float: right;
    margin-right: -15px;
    margin-top: -23px;
}
#mindwords1{
    font-size:xx-small;
    color: gray;
    margin-top: -28px;
    margin-bottom: 20px;

    /* padding-left: 2.3pc; */
}
#mindwords2{
    font-size:xx-small;
    color: gray;
    margin-top: 2px;
    margin-bottom: 20px;
    /* padding-left: 4.3pc; */
}
#email, #nickname, #password1, #password2, #e{
    margin-top: 10px;
    display: block;
    width: 100%;
    /* padding: 0.375rem 0.75rem; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.zcb{
    margin: 8px;
    padding: 3px;
}

.haha{
    margin-top: 15%;
    text-align: center;
    font-size: 30px;
}
img{
    height: 80px;
}